<div class="container">
  <div class="row">
    <div class="rol-md-7">
      <%= image_tag @portfolio_item.main_image %> 
    </div>
    <div class="rol-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <hr>
      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>
      <hr>
      <h2>Technologies Used:</h2>
      <% @portfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>
    </div>
  </div>
</div>

<% #show ActionController::Parameters 'What is going on in the background?' Controller takes ID from URL (routes.rb), calls show action, passes it to @portfolio_item (portf_controller.rb) which is called in show.html.erb  %>
<% #= params.inspect %>
